{% load static %}
{% load bootstrap_icons %}


<header class=" sticky-top lh-1 py-3" style=" background-color: #5c9ead">
  <div class="row flex-nowrap justify-content-between align-items-center">
    <div class="col-4 pt-1">
      <div  class="boton dropdown" id="mi-dropdown" >
        <button class="nav-btn open-btn">
        <i class="fas fa-bars"></i>
        </button>
      <div class="nav nav-black " style="width: 340px; background-color: #5c9ead">
        <div class="nav nav-red"style="width: 310px; background-color: #edae49">
          <div class="nav nav-white" style="width: 280px;">
            <button class="nav-btn close-btn">
              <i class="fas fa-times"></i>
            </button>
            <div class="flex-shrink-0 p-3 " style="width: 200px;">
              <a href="#" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none text-primary border-bottom">
                <svg class="bi pe-none me-2" width="50" height="24"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-5 fw-semibold"><fort style="vertical-align: inherit;"><fort style="vertical-align: inherit;;"><img src="/static/img/Monguarte_color.jpg" alt="" class="rounded-circle"  width="70" height="70"></fort></fort></span>
              </a>
              <ul class="list-unstyled ps-0">
                <li class="mb-1">
                  <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-dark" data-bs-toggle="collapse" data-bs-target="#compra-collapse" aria-expanded="false"><fort style="vertical-align: inherit;"><fort style="vertical-align: inherit;">
                    
                    COMPRA
                  </fort></fort></button>
                  <div class="collapse" id="compra-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                      <li><a href="{% url 'compra'%}" class="link-body-emphasis d-inline-flex text-decoration-none rounded p-1"><fort style="vertical-align: inherit;"><fort style="vertical-align: inherit;">Compra</fort></fort></a></li>
                      <li><a href="{% url 'detalle_compra'%}" class="link-body-emphasis d-inline-flex text-decoration-none rounded p-1"><fort style="vertical-align: inherit;"><fort style="vertical-align: inherit;">Detalle Compra</fort></fort></a></li>
                    </ul>
                  </div>
                </li>
                <li class="mb-1"> 
                  <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-dark" data-bs-toggle="collapse" data-bs-target="#venta-collapse" aria-expanded="false"><fort style="vertical-align: inherit;"><fort style="vertical-align: inherit;">
                    VENTA
                  </fort></fort></button>
                  <div class="collapse" id="venta-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                      <li><a href="{% url 'ventas'%}" class="link-body-emphasis d-inline-flex text-decoration-none rounded p-1"><fort style="vertical-align: inherit;"><fort style="vertical-align: inherit;">Venta</fort></fort></a></li>
                      <li><a href="{% url 'detalle_ventas'%}" class="link-body-emphasis d-inline-flex text-decoration-none rounded p-1"><fort style="vertical-align: inherit;"><fort style="vertical-align: inherit;">Detalle Venta</fort></fort></a></li>
                    </ul>
                  </div>
                </li>
                <li class="mb-1">
                  <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-dark" data-bs-toggle="collapse" data-bs-target="#inventario-collapse" aria-expanded="false"><fort style="vertical-align: inherit;"><fort style="vertical-align: inherit;">
                    INVENTARIO
                  </fort></fort></button>
                  <div class="collapse" id="inventario-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                      <li><a href="{% url 'stock-productos'%}" class="link-body-emphasis d-inline-flex text-decoration-none rounded p-1"><fort style="vertical-align: inherit;"><fort style="vertical-align: inherit;">Stock Producto</fort></fort></a></li>
                      <li><a href="{% url 'materias-primas'%}" class="link-body-emphasis d-inline-flex text-decoration-none rounded p-1"><fort style="vertical-align: inherit;"><fort style="vertical-align: inherit;">Materia Prima</fort></fort></a></li>
                      <li><a href="{% url 'stock-materias-primas'%}" class="link-body-emphasis d-inline-flex text-decoration-none rounded p-1"><fort style="vertical-align: inherit;"><fort style="vertical-align: inherit;">Stock Materia Prima </fort></fort></a></li>
                      <li><a href="{% url 'detalle-productos'%}" class="link-body-emphasis d-inline-flex text-decoration-none rounded p-1"><fort style="vertical-align: inherit;"><fort style="vertical-align: inherit;">Detalle Producto </fort></fort></a></li>
                    </ul>
                  </div>
                </li>
                <li class="mb-1">
                  <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-dark" data-bs-toggle="collapse" data-bs-target="#usuario-collapse" aria-expanded="false"><fort style="vertical-align: inherit;"><fort style="vertical-align: inherit;">
                    USUARIO
                  </fort></fort></button>
                  <div class="collapse" id="usuario-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                      <li><a href="{% url 'personas'%}" class="link-body-emphasis d-inline-flex text-decoration-none rounded p-1"><fort style="vertical-align: inherit;"><fort style="vertical-align: inherit;">Persona</fort></fort></a></li>
                      <li><a href="{% url 'contabilidades'%}" class="link-body-emphasis d-inline-flex text-decoration-none rounded p-1"><fort style="vertical-align: inherit;"><fort style="vertical-align: inherit;">Contabilidad</fort></fort></a></li>
                      <li><a href="{% url 'ipss'%}" class="link-body-emphasis d-inline-flex text-decoration-none rounded p-1" ><fort style="vertical-align: inherit;"><fort style="vertical-align: inherit;">Ips</fort></fort></a></li>
                      <li><a href="{% url 'nominas'%}" class="link-body-emphasis d-inline-flex text-decoration-none rounded p-1"><fort style="vertical-align: inherit;"><fort style="vertical-align: inherit;">Nomina</fort></fort></a></li>
                    </ul>
                  </div>
                </li>
                <li class="mb-1">
                  <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-dark" data-bs-toggle="collapse" data-bs-target="#producto-collapse" aria-expanded="false"><fort style="vertical-align: inherit;"><fort style="vertical-align: inherit;">
                    PRODUCTO
                  </fort></fort></button>
                  <div class="collapse" id="producto-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                      <li><a href="{% url 'productos'%}" class="link-body-emphasis d-inline-flex text-decoration-none rounded p-1"><fort style="vertical-align: inherit;"><fort style="vertical-align: inherit;">Producto</fort></fort></a></li>
                      <li><a href="{% url 'tamaños'%}" class="link-body-emphasis d-inline-flex text-decoration-none rounded p-1"><fort style="vertical-align: inherit;"><fort style="vertical-align: inherit;">Tamaño</fort></fort></a></li>
                      <li><a href="{% url 'tipos'%}" class="link-body-emphasis d-inline-flex text-decoration-none rounded p-1"><fort style="vertical-align: inherit;"><fort style="vertical-align: inherit;">Tipo</fort></fort></a></li>
                    </ul>
                  </div>
                </li>
                <li class="border-top my-2"></li>
                <li class="mb-1"> <i class="bi bi-0-square"></i>
                  <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-dark" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false"><fort style="vertical-align: inherit;"><fort style="vertical-align: inherit;">
                    CUENTA
                  </fort></fort></button>
                  <div class="collapse" id="account-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                      <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded"><fort style="vertical-align: inherit;"><fort style="vertical-align: inherit;">Nuevo...</fort></fort></a></li>
                      <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded"><fort style="vertical-align: inherit;"><fort style="vertical-align: inherit;">Perfil</fort></fort></a></li>
                      <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded"><fort style="vertical-align: inherit;"><fort style="vertical-align: inherit;">Ajustes</fort></fort></a></li>
                      <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded"><fort style="vertical-align: inherit;"><fort style="vertical-align: inherit;">desconectar</fort></fort></a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div></a>
    </div>
    <div class="col-4 text-center">
      <a class="blog-header-logo text-body-emphasis text-light"  href="http://127.0.0.1:8000/inicio/"><h1 style="font-family: 'Dancing Script', cursive; " href="">MonguArte</h1></a>
        </a>
    </div>


    <div class="col-4 d-flex justify-content-end align-items-center">
      <img src="/static/img/Monguarte_color.jpg"  class="rounded-circle d-inline-block " alt="Bootstrap" width="70" height="70">
    </div>
  </div>


  
</header>