
{% extends 'partials/body.html' %}
{% load static %}

{% block contenido %}
<div class="wrapper">
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"> {{titulo}} </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                      <th>°N de Registro</th>
                      <th>Tipo de Documento</th>
                      <th>Número de Documento</th>
                      <th>Nombres</th>
                      <th>Apellidos</th>
                      <th>Teléfono</th>
                      <th>Rol</th>
                      <th>Correo Electrónico</th>
                      <th>Estado</th>
                      <th>Acción</th>

                  </tr>
              </thead>
            <tbody>
                  {% for persona in personas %}
                  {% if persona.estado != "0" %}
                      <tr>
                          <td>{{persona.id}}</td>
                          <td>{{persona.get_tipo_documento_display}}</td>
                          <td>{{persona.numero_documento}}</td>
                          <td>{{persona.primer_nombre}} {{persona.segundo_nombre}}</td>
                          <td>{{persona.primer_apellido}} {{persona.segundo_apellido}}</td>
                          <td>{{persona.telefono}}</td>
                          <td>{{persona.get_rol_display}}</td>
                          <td>{{persona.correo_electronico}}</td>
                          <td>{{persona.get_estado_display}}</td>
                          <td>

                          <button  type="button" data-ids="{{persona.id}}" class="btnEliminar btn btn-danger"
                            data-bs-toggle="modal" data-bs-target="#modal-danger">
                            Eliminar
                          </button>
                              <a class="btn btn-primary btn-md bi bi-wrench m-1 me-1" href="{% url 'personas-modificar' persona.id %}">Modificar</a>
                          </td>
                      </tr>
                      {% endif %}
                  {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                  <th>°N de Registro</th>
                  <th>Tipo de Documento</th>
                  <th>Número de Documento</th>
                  <th>Nombres</th>
                  <th>Apellidos</th>
                  <th>Teléfono</th>
                  <th>Rol</th>
                  <th>Correo Electrónico</th>
                  <th>Estado</th>
                  <th>Acción</th>

              </tr>
            </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
  <a href="{% url 'personas-crear' %}" class="btn btn-success w-25">Crear {{titulo}}</a>
</div>

{% endblock contenido %}
