{% extends 'partials/body.html' %}
{% load static %}

{% block contenido %}

<div class="wrapper">
    <!-- Main content -->
    <section class="content">
    <div class="container-fluid">
        <div class="row">
        <div class="col-12">
            <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ titulo }}</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Fecha</th>
                        <th>Valor Total </th>
                        <th>Estado </th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for compra in comprasn %}

                    {% if compra.estado != "0" %}
                        <tr>
                            <td>{{compra.id}}</td>
                            <td>{{compra.fecha}}</td>
                            <td>{{compra.precio_formato_colombiano}}</td>
                            <td>{{compra.estado}}</td>
                            <td>
                            <button  type="button" data-ids="{{compra.id}}" class="btnEliminar btn btn-danger"
                            data-bs-toggle="modal" data-bs-target="#modal-danger">
                            Eliminar
                            </button>
                            <a class="btn btn-primary" href="{% url 'compra-modificar' compra.id %}">Modficar</a>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Fecha</th>
                    <th>Valor Total </th>
                    <th>Estado </th>
                    <th>Acción</th>
                </tr>
            </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
            </div>
            <a href="{% url 'compra-crear' %}" class="btn btn-success w-25">Crear {{titulo}}</a>
            <!-- /.card -->
        </div>
        <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

{% endblock contenido %}