{% extends 'partials/body.html' %}
{% load static %}
{% block contenido %}
<div class="wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"> {{titulo}} </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Tamaño</th>
                        <th>Tipo</th>
                        <th>Cantidad </th>
                        <th>Acciones</th>
                    </tr>
                </thead>
              <tbody>
                    {% for producto in productosn %}

                        {% if producto.estado != "0" %}
                        <tr>
                            <td>{{producto.nombre}}</td>
                            <td>{{producto.precio_formato_colombiano}}</td>
                            <td>{{producto.tamano}}</td>
                            <td>{{producto.tipo}}</td>
                            <td>{{producto.cantidad}}</td>
                            <td>
                            <button  type="button" data-ids="{{producto.id}}" class="btnEliminar btn btn-danger"
                              data-bs-toggle="modal" data-bs-target="#modal-danger">
                              Eliminar
                            </button>
                                <a class="btn btn-primary btn-md bi bi-wrench m-1 me-1" href="{% url 'productos-modificar' producto.id %}">Modificar</a>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Tamaño</th>
                    <th>Tipo</th>
                    <th>Cantidad </th>
                    <th>Acciones</th>
                </tr>
              </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    <a href="{% url 'productos-crear' %}" class="btn btn-success w-25">Crear {{titulo}}</a>
  </div>
  
{% endblock contenido %}
