
{% extends 'partials/body.html' %}
{% load static %}

{% block contenido %}

<div class="wrapper">
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"> {{titulo}} </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                      <th>Producto</th>
                      <th>Stock</th>
                      <th>Acción</th>
                  </tr>
              </thead>
            <tbody>
                  {% for detalle_producto in detallesP %}
                      <tr>
                          <td>{{detalle_producto.producto}}</td>
                          <td>{{detalle_producto.stock_materia_prima}}</td>

                          <td>
                          <button  type="button" data-ids="{{detalle_producto.id}}" class="btnEliminar btn btn-danger"
                            data-bs-toggle="modal" data-bs-target="#modal-danger">
                            Eliminar
                          </button>
                              <a class="btn btn-primary btn-md bi bi-wrench m-1 me-1" href="{% url 'detalle-productos-modificar' detalle_producto.id %}">Modificar</a>
                          </td>
                      </tr>

                  {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <th>Producto</th>
                <th>Stock</th>
                <th>Acción</th>
            </tr>
            </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
  <a href="{% url 'stock-producto-crear' %}" class="btn btn-success w-25">Crear {{titulo}}</a>
</div>
{% endblock contenido %}
